<!-- inherit from base.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="form-container d-flex align-items-center justify-content-center min-vh-100">
  <form action="/login" method="POST", class="form w-100 shadow p-4 rounded  needs-validation" novalidate>
      <h3 align="center">Sign In</h3>
      {{ form.hidden_tag() }} <!-- CSRF token for security / works in tandem with SECRET KEY-->

      <!--  ! email -->
      {{ form.email.label(class="form-label") }}
      <!-- error validation -->
      {% if form.email.errors %}
      {{ form.email(class="form-control", placeholder="Enter your email")}}
      
         
              {% for error in form.email.errors %}
                  <p class="alert alert-danger">{{ error }}</p>
              {% endfor %}
         
      {% else %}
      {{ form.email(class="form-control ",placeholder="Enter your email", value=email, required=true) }}
      
      {% endif %}
          
      
      


      <!--! password -->
      {{ form.password.label(class="form-label") }}
      <!-- error validation -->
      {% if form.password.errors %}
      {{ form.password(class="form-control", placeholder="Enter your password") }}
      
          
              {% for error in form.password.errors %}
              <p class="alert alert-danger">{{ error }}</p>
              {% endfor %}
          
      {% else %}
      {{ form.password(class="form-control", placeholder="Enter your password",value=password, required=true) }}
      {% endif %}

      <!-- checkbox -->
      <div class="form-check">
          {{ form.remember_me(class="form-check-input") }}
          {{ form.remember_me.label(class="form-check-label") }}
      </div>
      
      <!-- submit button -->
      <br>
      {{ form.submit(class="btn btn-outline-success w-100 btn-lg mt-5") }}
      <!-- forgot password -->
       <small class="text-muted ml-2">
          <a href="#" class="text-decoration-none">Forgot Password?</a>
       </small>

      <br>
      <div class="pt-5">
          <small class="text-muted">Need an account?</small>
          <a href="{{url_for('auth.register')}}" class="text-decoration-none">Register here</a> <!-- redirect to register -->
      </div>

  </form>
  <br>
 
</div>



{% endblock %}