<!-- inherit from base.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
<h1>Login Page</h1>
{{ text}}

<form action="/register" method="POST", class="form w-50 mt-5 mx-auto">
    <h3 align="center">Login</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="email" name="email" placeholder="Enter your email" required >
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

  
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
 
    <br>
    <button type="submit" class="btn btn-outline-success w-100 btn-lg">Login</button>
  </form>

{% endblock %}