<!-- inherit from base.html -->
{% extends "base.html" %}
{% block title %}Register{% endblock %}


{% block content %}

<div class="form-container d-flex align-items-center justify-content-center min-vh-100">
    <form action="/register" method="POST", class="form w-50 shadow p-4 rounded  needs-validation" novalidate>
        <h3 align="center">Sign Up</h3>
        {{ form.hidden_tag() }} <!-- CSRF token for security / works in tandem with SECRET KEY-->

        <!--  ! email -->
        {{ form.email.label(class="form-label") }}
        <!-- error validation -->
        {% if form.email.errors %}
        {{ form.email(class="form-control", placeholder="Enter your email")}}
        
           
                {% for error in form.email.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
           
        {% else %}
        {{ form.email(class="form-control ",placeholder="Enter your email", value=email, required=true) }}
        
        {% endif %}
            
        
        <!-- ! username -->
        {{ form.username.label(class="form-label") }}

        <!-- error validation -->
        {% if form.username.errors %}
        {{ form.username(class="form-control", placeholder="Enter your username") }}
        
            
                {% for error in form.username.errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            
        {% else %}
        {{ form.username(class="form-control", placeholder="Enter your username",value=username, required=true) }}
        {% endif %}


        <!--! password -->
        {{ form.password.label(class="form-label") }}
        <!-- error validation -->
        {% if form.password.errors %}
        {{ form.password(class="form-control", placeholder="Enter your password") }}
        
            
                {% for error in form.password.errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            
        {% else %}
        {{ form.password(class="form-control", placeholder="Enter your password",value=password, required=true) }}
        {% endif %}

        <!-- ! confirm password -->
        {{ form.confirm_password.label(class="form-label") }}
        <!-- error validation -->
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
        
            
                {% for error in form.confirm_password.errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            
        {% else %}
        {{ form.confirm_password(class="form-control", placeholder="Confirm password",value=confirm_password, required=true) }}
        {% endif %}
        
        <!-- submit button -->
        <br>
        {{ form.submit(class="btn btn-outline-success w-100 btn-lg mt-5") }}
        <br>
        <div class="pt-5">
            <small class="text-muted">Already have an account?</small>
            <a href="{{url_for('auth.login')}}" class="text-decoration-none">Login here</a> <!-- redirect to login -->
        </div>

    </form>
    <br>
   
</div>


{% endblock %}